<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>


<title>Hello Spring Boot!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="../static/css/core.css"
	th:href="@{/resources/twitter-bootstrap/css/bootstrap.css}"
	rel="stylesheet" media="screen" />
<link rel="stylesheet"
	href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />

<link rel='stylesheet' href='/css/defaultcss.css'
	th:href="@{/resources/css/defaultcss.css}" />


<link rel='stylesheet' href='/css/defaultcss.css'
	th:href="@{/resources/css/galleria.classic.css}" />


<script
	src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script
	src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>



</head>


<body>


<h1>Is tha Hallo</h1>

<div>
		<div class="container">
			<div>
				<table class="table table-striped">
					<thead>
						<tr>
							<td>Fight type Id</td>
							<td>Fight Type</td>
							<td>Fight Type Description</td>
							<td>Fight Type Comments</td>
						</tr>

					</thead>
					<tbody>
						<tr th:each="fightType : ${fightTypes}">
							<td th:text="${fightType?.fightTypeId}">fight Type Id</td>
							<td th:text="${fightType?.fightType}">Fight Type</td>
							<td th:text="${fightType?.fightTypecDescription}">Fight Type Description</td>
							<td th:text="${fightType?.fightTypeComments}">Fight Type Comments</td>

						</tr>
					</tbody>


				</table>

			</div>

			<nav>

				<ul class="pager ">
					<li><a
						th:href="@{/admin/fightType/showFightTypes/(page=(${fightTypes.number}!=0?${fightTypes.number}-1:0))}">Previous
							Image</a></li>
					<li><a
						th:href="@{/admin/fightType/showFightTypes/(page=(${fightTypes.number} eq ${pages}?${pages}: ${fightTypes.number}+1))}">Next
							Image</a></li>

					<li></li>

				</ul>

			</nav>

		</div>


	</div>




	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>

</html>