<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>


<title>Hello Spring Boot!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="../static/css/core.css"
	th:href="@{/resources/twitter-bootstrap/css/bootstrap.css}"
	rel="stylesheet" media="screen" />
<link rel="stylesheet"
	href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />

<link rel='stylesheet' href='/css/defaultcss.css'
	th:href="@{/resources/css/defaultcss.css}" />


<link rel='stylesheet' href='/css/defaultcss.css'
	th:href="@{/resources/css/galleria.classic.css}" />


<script
	src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script
	src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>


<script type="text/javascript"
	th:src="@{/resources/js/galleria-1.4.2.js}">
	
</script>



</head>


<body>

	<div>
		<div class="container">
			<div>
				<table class="table table-striped">
					<thead>
						<tr>
							<td>Promoter Id</td>
							<td>Promoter Name</td>

							<td>promoter Country</td>

						</tr>

					</thead>
					<tbody>
						<tr th:each="promoter : ${promoters}">
							<td th:text="${promoter?.promoterId}">promoter Id</td>
							<td th:text="${promoter?.promoterName}">promoter Name</td>
							
							<td th:text="${promoter.countryBean?.country}">promoter
								Country</td>
							<td th:text="${promoter?.promoterComments}">promoter Comments</td>

						</tr>
					</tbody>


				</table>
				<h1 th:text="${pages}"></h1>
			</div>

			<nav>

				<ul class="pager ">
					<li><a
						th:href="@{/admin/promoter/showPromoters/(page=(${promoters.number}!=0?${promoters.number}-1:0))}">Previous
							Image</a></li>
					<li><a
						th:href="@{/admin/promoter/showPromoters/(page=(${promoters.number} eq ${pages}?${pages}: ${promoters.number}+1))}">Next
							Image</a></li>

					<li></li>

				</ul>

			</nav>

		</div>


	</div>




	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


</body>

</html>