<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<link rel="icon" type="image/x-icon"
	th:href="@{/resources/images/icon.png}"
	href="../resources/images/icon.png" />
<link th:href="@{/resources/twitter-bootstrap/css/bootstrap.css}"
	href="..//resources/twitter-bootstrap/css/bootstrap.css"
	rel="stylesheet"></link>



<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
<title th:text="#{message.resetPassword}">SecureMail:</title>
</head>
  <body>
    	<div class="container">
		<h1
			th:text="#{message.resetPassword}">
		</h1>
		<h3 th:id="message" class="alert alert-success" ></h3>
		
		
		<div class="row" id="input1">
			<label class="col-sm-1"
			th:text="#{label.user.email}"></label> <span class="col-sm-5"><input
				class="form-control" id="email" name="email" type="email" value="" /></span>
			<button class="btn btn-primary" type="submit" onclick="resetPass()"
				th:text="#{message.resetPassword}">
			</button>
		</div>

		<a class="btn btn-default"
			th:href="@{/signup}" 
			th:text="#{label.form.loginSignUp}"></a> <a class="btn btn-default" th:href="@{/login}"
			th:text="#{label.form.loginLink}"> </a>

	</div>
	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script th:inline="javascript" type="text/javascript">
		/*<![CDATA[*/
		function resetPass() {
			var str;
			var email = $("#email").val();
			$
					.post(
							"/user/resetPassword",
							{
								email : email
							},
							function(data) {
								$("#message").html( data.message);
								$("#input1").hide();
							})
					.fail(
							function(data) {
								if (data.responseJSON.error
										.indexOf("MailError") > -1) {
									window.location.href = "/emailError";
								} else {
									
											$("#message").html( data.responseJSON.message);
								}
							});
		}

		$(document).ajaxStart(function() {
			$("title").html("LOADING ...");
		});
		/*]]>*/
		</script>

</body>

</html>