<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Spring Security Example</title>


<link rel="icon" type="image/x-icon"
	th:href="@{/resources/images/icon.png}"
	href="../resources/images/icon.png" />
<link th:href="@{/resources/twitter-bootstrap/css/bootstrap.css}"
	href="..//resources/twitter-bootstrap/css/bootstrap.css"
	rel="stylesheet"></link>

<script
	src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script
	src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<script th:src="@{/resources/js/pwstrength.js}"></script>

</head>

<body>
	<div>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"
						th:text="#{label.pages.home.title}">ß</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/logout}" th:text="#{label.pages.logout}"></a></li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div id="errormsg" class="alert alert-danger" style="display: none"></div>
				<h1 th:text="#{message.changePassword}"></h1>
				<div id="message1" class="alert alert-danger" style="display: none"></div>
				<h1></h1>
				<div></div>
				<br/> <label class="col-sm-2"
					th:text="#{label.user.oldPassword}"></label> <span class="col-sm-5"><input
					class="form-control" id="oldpass" name="oldpassword"
					type="password" value="" /></span> <span class="col-sm-5"></span> <br/>
				<br/> <label class="col-sm-2"
					th:text="#{label.user.newPassword}"></label> <span class="col-sm-5"><input
					class="form-control" id="pass" name="password" type="password"
					value="" /></span> <span class="col-sm-5"></span> <br/> <br/> <label
					class="col-sm-2" th:text="#{label.user.confirmPass}"></label> <span
					class="col-sm-5"><input class="form-control"
					id="passConfirm" type="password" value="" /></span> <span id="error"
					class="alert alert-danger" style="display: none"
					th:text="#{PasswordMatches.user}"></span> <br/> <br/>
				<button class="btn btn-primary" type="submit" onclick="savePass()"
					th:text="#{message.changePassword}"></button>
			</div>

		</div>
	</div>

	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script th:inline="javascript" type="text/javascript">
/*<![CDATA[*/
		function savePass() {
			var pass = $("#pass").val();
			var valid = pass == $("#passConfirm").val();
			if (!valid) {
				$("#error").show();
				return;
			}
			$.post("/user/updatePassword", {
				password : pass,
				oldpassword : $("#oldpass").val()
			}, function(data) {
				//	$("#message1").show().html(data.message);
				/* window.location.href = "/console.html"
						+ "?message=" + data.message; */
			}).fail(function(data) {
				$("#errormsg").show().html(data.responseJSON.message);
			});
		}

		/*]]>*/
		    </script>

</body>

</html>