<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Spring Security Example</title>


<link rel="icon" type="image/x-icon"
	th:href="@{/resources/images/icon.png}"
	href="../resources/images/icon.png" />
<link th:href="@{/resources/twitter-bootstrap/css/bootstrap.css}"
	href="..//resources/twitter-bootstrap/css/bootstrap.css"
	rel="stylesheet"></link>

<script
	src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script
	src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<script th:src="@{/resources/js/pwstrength.js}"></script>

</head>


<body>


	<h2 id="globalMessage" class="alert alert-success"
		style="display: none"></h2>
	<div id="input1">
		<form action="/" method="POST" enctype="utf8" th:id="myForm">

			<div class="form-group row">
				<label class="col-sm-3" th:text="#{label.user.firstName}"> </label>
				<span class="col-sm-5"><input class="form-control"
					name="firstName" value="" required="required" /></span> <span
					id="firstNameError" class="alert alert-danger col-sm-4"
					style="display: none"></span>

			</div>
			<div class="form-group row">
				<label class="col-sm-3" th:text="#{label.user.lastName}"> </label> <span
					class="col-sm-5"><input class="form-control" name="lastName"
					value="" required="required" /></span> <span id="lastNameError"
					class="alert alert-danger col-sm-4" style="display: none"></span>

			</div>
			<div class="form-group row">
				<label class="col-sm-3" th:text="#{label.user.email}"> </label> <span
					class="col-sm-5"><input type="email" class="form-control"
					name="email" value="" required="required" /></span> <span id="emailError"
					class="alert alert-danger col-sm-4" style="display: none"></span>

			</div>
			<div class="form-group row">
				<label class="col-sm-3" th:text="#{label.user.password}"></label> <span
					class="col-sm-5"><input id="password" class="form-control"
					name="password" value="" type="password" required="required" /></span> <span
					id="passwordError" class="alert alert-danger col-sm-4"
					style="display: none"></span>
			</div>
			<div class="form-group row">
				<label class="col-sm-3" th:text="#{label.user.confirmPass}">
				</label> <span class="col-sm-5"><input id="matchPassword"
					class="form-control" name="matchingPassword" value=""
					type="password" required="required" /></span> <span id="globalError"
					class="alert alert-danger col-sm-4" style="display: none"></span>
			</div>
			<br />
			<button type="submit" class="btn btn-primary"
				th:text="#{label.form.submit}"></button>
		</form>
	</div>
	<br />
	<a th:href="@{/login}" th:text="#{label.form.loginLink}"> Back
		Login </a>







</body>

<script th:inline="javascript" type="text/javascript">
/*<![CDATA[*/
$(document).ready(function(){
	
	console.log("is tha hallo");
	$(":password")
	.keyup(
		function() {
			if ($("#password").val() != $(
					"#matchPassword").val()) {
				$("#globalError")
						.show()
						.html(
								/*[[#{PasswordMatches.user}]]*/
								
						);
			} else {
				$("#globalError").html("")
						.hide();
			}
			
			
				
		});
	options = {
			common : {
				minChar : 8
			},
			ui : {
				showVerdictsInsideProgressBar : true,
				showErrors : true,
				errorMessages : {
					wordLength : /*[[#{error.wordLength}]]*/,
					wordNotEmail :/*[[#{error.error.wordNotEmail}]]*/, 
					wordSequences : /*[[#{error.error.wordSequences}]]*/, 
					wordLowercase : /*[[#{error.error.wordLowercase}]]*/, 
					wordUppercase : /*[[#{error.error.wordUppercase}]]*/,  
					wordOneNumber : /*[[#{error.error.wordOneNumber}]]*/,  
					wordOneSpecialChar : /*[[#{error.error.wordOneSpecialChar}]]*/,  
				}
			}
		};
	$('#password').pwstrength(options);
	//$("#password").
	
	$('form').submit(function(event) {
								register(event);
							});
	
	function register(event) {
			event.preventDefault();
			$(".alert").html("").hide();
			$(".error-list").html("");
			if ($("#password").val() != $("#matchPassword").val()) {
				$("#globalError")
						.show()
						.html(
								/*[[#{PasswordMatches.user}]]*/
								);
				$("#input1").hide();
				return;
			}
			var formData = $('form').serialize();
			$
					.post(
							"/user/registration",
							formData,
							function(data) {
								/* if (data.message == "success") {
									window.location.href = "/successRegister";
								} */
								$("#globalMessage").show().html(data.message);
								$("#input1").hide();
								

							})
					.fail(
							function(data) {
								if (data.responseJSON.error
										.indexOf("MailError") > -1) {
									window.location.href = "/emailError";
								} else if (data.responseJSON.error == "UserAlreadyExist") {
									$("#emailError").show().html(
											data.responseJSON.message);
								} else if (data.responseJSON.error
										.indexOf("InternalError") > -1) {
									window.location.href = "/login"
											+ "?message="
											+ data.responseJSON.message;
								} else {
									var errors = $
											.parseJSON(data.responseJSON.message);
									$.each(errors, function(index, item) {
										$("#" + item.field + "Error").show()
												.html(item.defaultMessage);
									});
									errors = $
											.parseJSON(data.responseJSON.error);
									$.each(errors, function(index, item) {
										$("#globalError").show().append(
												item.defaultMessage + "<br>");
									});
								}
							});
			
	}
	
	
	});

/*]]>*/
    </script>


<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>




</html>