<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Spring Security Example</title>


<link rel="icon" type="image/x-icon"
	th:href="@{/resources/images/icon.png}"
	href="../resources/images/icon.png" />
<link th:href="@{/resources/twitter-bootstrap/css/bootstrap.css}"
	href="..//resources/twitter-bootstrap/css/bootstrap.css"
	rel="stylesheet"></link>

<script
	src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script
	src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<script th:src="@{/resources/js/pwstrength.js}"></script>

</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#" th:text="#{label.pages.home.title}">
					Title</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a th:href="@{/logout}" th:text="#{label.pages.logout}"></a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div id="errormsg" class="alert alert-danger" style="display: none"></div>
			<h1 th:text="#{message.changePassword}">Change Password</h1>
			<div>

				<br />
				<h3 th:id="message" class="alert alert-success"></h3>
				<div th:id="inputs">
					<label class="col-sm-2" th:text="#{label.user.newPassword}"
						for="pass">New Password</label> <span class="col-sm-5"><input
						class="form-control" id="pass" name="password" type="password"
						value="" /></span> <span class="col-sm-5"></span> <br /> <br /> <label
						class="col-sm-2" th:text="#{label.user.confirmPass}"
						for="passConfirm">Confirm Password</label> <span class="col-sm-5"><input
						class="form-control" id="passConfirm" type="password" value="" /></span>
					<span id="error" class="alert alert-danger" style="display: none"
						th:text="#{PasswordMatches.user}"></span> <br /> <br />
					<button class="btn btn-primary" type="submit" onclick="savePass()"
						th:text="#{message.changePassword}"></button>
				</div>
			</div>

		</div>
	</div>
	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


	<script th:inline="javascript" type="text/javascript">
		/*<![CDATA[*/
		function savePass() {
			var pass = $("#pass").val();
			var valid = pass == $("#passConfirm").val();
			if (!valid) {
				$("#error").show();
				return;
			}
			$.post("/user/savePassword", {
				password : pass
			}, function(data) {
				//window.location.href = "<c:url value="/login.html"></c:url>"
				//		+ "?message=" + data.message;

				$("#message").html(data.message);
				$("#inputs").hide();

			}).fail(function(data) {
				/* window.location.href = "<c:url value="/login.html"></c:url>"
						+ "?message=" */
				$("#message").html(data.responseJSON.message);
				$("#inputs").hide();
			});
		}
		/*]]>*/
	</script>



</body>

</html>